.sectionService {
    margin-top: 150px;
    &__title {
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #0499DD;
    }
}
.serviceS {
    text-align: center;
    padding: 0 100px;
    @include mobile{
        padding: 0 30px;
    }
    &__text {
        
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #282828;
        text-align: center;
        margin: 60px 0 30px 0;
    }
    &__btn {
        width: 230px;
        height: 50px;
        background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
        border-radius: 60px;
        text-align: center;
        border: none;
        transition: 1s;
        color: #fff;
    }
    &__btn:hover{
        transform: scale(1.1);
        background-color:linear-gradient(92.71deg, #0498dd8b 0%, #17c1bb92 100%) ;
    }

}
.service {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap:20px ;
    grid-row-gap:20px ;
    @include largetablet {
        grid-template-columns: repeat(1, auto);
      
    }
 
    &__text {
        @include largetablet{
        padding-right: 100px;
        }
        @include mobile{
            padding-right: 20px;
            }
    }
    &__item {
       display: flex;
       column-gap: 20px;
       &-img {
        width: 75px;
        height: 75px;
       }
       &-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #0499DD;
        margin-bottom: 15px;
       }
       &-des {
                
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #282828;
       }
    }

}